.Search-div
{
    width: 50rem;
    height: 25rem;
    margin-left: 16rem;
    position: relative;
    
    background-color: rgb(32, 31, 28) ;
        border-radius: 2rem;
        box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3), -1px -1px 0px rgba(255, 255, 255, 0.3);
        
}
.radio-btn-div{

    width: 35rem;
    height: 5rem;
    position: absolute;
    border-radius: 5rem;
    margin-left: 8rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(23, 25, 27);
}