#first-container
{
    width: 40rem;
    height: 35rem;
    margin-left: 22rem;
    margin-top: 4rem;
    position: relative;
}
#main-container
{
    border:2px solid black;
    position: relative;
    height: auto;
}