
h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: lowercase;
    color: rgba(255,165,64,255);
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {
	background-color: #2c2b2e;
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
	color: #b3b8cd;
	padding-top: 30px;
	position: relative;
	width: 18rem;
    min-height: 25rem;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231e39;
	background-color: #febb0b;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid orange;
	border-radius: 50%;
	padding: 7px;
}

button.primary {
	background-color: rgba(255,165,64,255);
	border: 1px solid rgba(255,165,64,255);
	border-radius: 3px;
	color: #231e39;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
    width: 6rem;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899c;
}

.skills {
	background-color: #1f1a36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2d2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}



#parent-div
{
    margin-left: 8rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70rem;
    height: auto;
    
}