.login-div{
    border:1px solid black ;
    width:40vw;
    height: 60vh;
    position: relative;
    margin-left: 0rem;
    margin-top: 5rem;
}
#child-div
{
    background-color: rgba(61, 60, 65, 0.495);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 4px darkslategray;
    border-top-style: solid;
    margin-top: 5rem;
    height: 40vh;
}
.login-div{
    background-color: rgba(28, 30, 92, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    border: 4px darkslategray;
    border-top-style: solid;
  }
.form-control{

    width: 5rem;
}
