#admin-sidebar
{
    width: 12rem;
    height: 41rem;
    margin-top: -2rem;
    background-color: rgb(204, 204, 231);
}
#sidebar-logo
{
    width: 14rem;
    height: 14rem;
    margin-top: 4rem;
    margin-left: 1.5rem; 
    position: absolute;
}
#sidebar-buttons-div
{
    position: absolute;
    display: flex;
    flex-wrap:wrap;
    margin-top: 20rem;
    width: 6rem;
    height: 14rem;
    margin-left: 1rem;
}